@media only screen and (min-width: 1100px) and (max-width: 1700px) {
    .App
        main
        .pharmacy
        .ourProducts
        .productBody
        .bestSeller
        .productItems
        .card {
        min-width: 250px;
    }
}

@media only screen and (max-width: 1200px) {
    main {
        .homePage {
            .homePageInner {
                .aboutPara {
                    padding-right: 0 !important;
                }

                .serviceContainer {
                    .servicesmainHeading {
                        // left: 30% !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .cartFlexButton{
        justify-content: center;
    }
    .userProfileDiv .dropdown-menu.show li a,
    .userProfileDiv .dropdown-menu.show li button {
        padding: 10px 10px !important;
    }

    .App main .contactUs .contactSection .contactWrapper .card {
        width: 100%;
    }
    .App
        main
        .homePage
        .homePageInner
        .banner
        .bannerInner
        .bannerText
        .bannerInfo
        .doctorImage {
        bottom: -45px;
    }
    .mobileHeader {
        display: block !important;
    }

    .header {
        .headerInner {
            justify-content: center !important;

            .headerFirst,
            .headerThird,
            .userProfileDiv {
                display: none !important;
            }
        }
    }
    .mainHeader {
        display: none;
    }

    .footer {
        .footerMain {
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    main {
        .homePage {
            .homePageInner {
                .banner {
                    .bannerInner {
                        .bannerText {
                            padding: 30px 0 0 0 !important;

                            .bannerInfo {
                                .doctorImage {
                                    img {
                                        width: 280px !important;
                                        // height: 280px !important;
                                    }
                                }

                                .bannerPara {
                                    .Primary {
                                        font-size: 35px !important;
                                    }

                                    .Health {
                                        font-size: 40px !important;
                                    }

                                    .Service {
                                        font-size: 30px !important;
                                    }

                                    .Home {
                                        font-size: 30px !important;
                                    }

                                    .bookButtonOuter {
                                        display: flex;
                                        justify-content: flex-start;

                                        .bookButton {
                                        }

                                        margin-bottom: 30px;
                                    }
                                }
                            }
                        }
                    }
                }

                .serviceContainer {
                    .servicesmainHeading {
                        // left: 25% !important;
                    }
                }
            }

            .servicesMain {
                .card {
                    // width: 80%;
                    margin-bottom: 30px;
                }
            }

            .employeeSection {
                .employee {
                    .employeeAbout {
                        flex-flow: column;

                        .employeeContactButton {
                            margin-bottom: 30px;
                        }
                    }
                }
            }

            .hiringSection {
                .hiringAbout {
                    flex-flow: column;

                    .hiringContactButton {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .profileMain {
            .profile {
                flex-direction: column;

                .profileSide {
                    width: 100% !important;

                    ul {
                        display: flex;
                        gap: 10px;
                        overflow-x: auto;

                        li {
                            a {
                                display: block;
                                padding: 10px !important;
                            }

                            .active {
                                background-color: #eb5757;
                                color: white;
                                display: block;
                                width: auto !important;
                                border-radius: 10px;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .loginForm {
        .sideImageDiv {
            display: none;

            img {
                display: none;
            }
        }
    }

    .bookDoctor {
        .bookDoctorBanner {
            .banner {
                .bannerInner {
                    .bannerText {
                        padding: 100px 0 0 0;
                    }
                }
            }
        }
    }

    .bookLab {
        .bookDoctorBanner {
            .banner {
                .bannerInner {
                    .bannerText {
                        padding: 100px 0 0 0;
                    }
                }
            }
        }
    }

    .insurance {
        .insuranceBanner {
            .banner {
                .bannerInner {
                    .bannerText {
                        padding: 100px 0 0 0;
                    }
                }
            }
        }
    }

    .App main .homePage .homePageInner .serviceContainer .servicesmainHeading {
        top: -100px !important;
    }
    .App main .homePage .homePageInner .servicesMain {
        left: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .App main .homePage .homePageInner .hiringSection .hiringAbout .hiringText {
        padding-bottom: 40px;
        text-align: center;
    }
    .orderDetailsWrapper img{
        display: none;
    }

    .App
        main
        .homePage
        .homePageInner
        .employeeSection
        .employee
        .employeeAbout
        .employeeText {
        text-align: center;
        padding-bottom: 30px;
    }

    .App .footer .footerForm {
        padding: 25px 20px;
    }

    .App .footer .footerMain h5::after {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .App main .homePage .homePageInner .aboutUs .aboutPicOutter .newsImage img {
        width: 70%;
    }
    .App main .homePage .homePageInner .aboutPara .heading {
        font-size: 40px;
    }
    .App main .homePage .homePageInner .aboutPara .heading1 {
        font-size: 40px;
        text-align: center;
        line-height: 110%;
    }
    .App main .homePage .homePageInner .newsCarousel .CarouselHeading p {
        font-size: 40px;
    }
    main
        .homePage
        .homePageInner
        .banner
        .bannerInner
        .bannerText
        .bannerInfo
        .bannerPara
        .bookButtonOuter {
        justify-content: center;
    }
    header {
        .header {
            .headerInner {
                flex-flow: column;
                width: 100%;
            }
        }
    }

    .footer {
        .footerHeader {
            .list {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
        }
    }

    main {
        .homePage {
            .homePageInner {
                .banner {
                    .bannerInner {
                        .bannerText {
                            padding: 30px 0 0 0 !important;

                            .bannerInfo {
                                display: flex;
                                width: 100%;
                                justify-content: center;
                                text-align: center;

                                .doctorImage {
                                    display: none;

                                    img {
                                        width: 280px !important;
                                        height: 280px !important;
                                    }
                                }

                                .bannerPara {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .serviceContainer {
                    .servicesmainHeading {
                        // left: 20% !important;
                    }
                }
            }
        }

        .bookDoctor {
            .bookDoctorBanner {
                .banner {
                    .bannerInner {
                        .bannerText {
                            padding: 50px 0 0 0;
                        }
                    }
                }
            }
        }

        .bookLab {
            .bookDoctorBanner {
                .banner {
                    .bannerInner {
                        .bannerText {
                            padding: 50px 0 0 0;
                        }
                    }
                }
            }
        }

        .insurance {
            .insuranceBanner {
                .banner {
                    .bannerInner {
                        .bannerText {
                            padding: 50px 0 0 0;
                        }
                    }
                }
            }
        }

        .profileMain {
            .profile {
                .profileBody {
                    // .profileWrapper {
                    //   .body {
                    //     .card {
                    //       width: 100% !important;
                    //     }
                    //   }
                    // }

                    .profileInner {
                        .profileHead {
                            .profileInfo {
                                .profilePhoto {
                                    left: 50% !important;
                                    transform: translateX(-50%);
                                }

                                .profileDetails {
                                    margin-left: 0 !important;
                                    margin-top: 87px;
                                    text-align: center;
                                    display: block !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .App
        main
        .pharmacy
        .ourProducts
        .productBody
        .bestSeller
        .productItems
        .card {
        max-width: 360px;
        width: 100%;
        margin: 0 auto;
    }

    .App main .cart .productMain .cartBody .cardInner {
        width: 90%;
    }

    .startHeading.startHeading2 {
        margin-bottom: 20px;
    }
    .App
        .loginForm
        .login
        .loginMain
        .loginInputFields2
        .loginInputFields2Inner {
        flex-direction: column;
        width: 100%;
    }

    .loginMain .inputShowPassword .inputShowPasswordButton {
        right: 10%;
    }

    .App
        .profileMain
        .profile
        .profileBody
        .profileInner
        form
        .profileForm
        .fields
        .inputField
        input,
    .App
        .profileMain
        .profile
        .profileBody
        .profileInner
        form
        .profileForm
        .fields
        .inputField
        textarea,
    .App
        .profileMain
        .profile
        .profileBody
        .profileInner
        form
        .profileForm
        .fields
        .inputField
        .passwordButton {
        margin-left: auto;
        width: 100%;
        display: block;
        width: 90%;
    }

    .App main .cart .productMain .cartBody .cardInner .listMain .middle {
        justify-content: center;
    }

    .App .profileMain .profile .profileBody .profileInner form .profileForm {
        margin-top: 40px;
    }

    .doctorAppointments .tabs {
        white-space: nowrap;
        overflow-x: scroll;
    }

    .App
        .profileMain
        .profile
        .profileBody
        .profileInner
        form
        .profileForm
        .fields
        .inputField
        .passwordButton {
        padding: 10px;
        text-align: center;
    }

    .App
        .profileMain
        .profile
        .profileBody
        .profileInner
        form
        .profileForm
        .fields
        .inputField3 {
        text-align: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .App
        .profileMain
        .profile
        .profileBody
        .profileInner
        form
        .profileForm
        .fields {
        justify-content: center;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .App .contactUs .contactSection .contactWrapper .cardForm {
        padding: 20px 20px;
    }

    .App
        .contactUs
        .contactSection
        .contactWrapper
        .cardForm
        .contactForm
        .fields
        button {
        margin: 0 auto;
    }

    .App .aboutUs .ourStory .aboutPara2 .heading,
    .App .aboutUs .ourStory .aboutPara2 .paragraph,
    .App .aboutUs .ourStory .aboutPara .paragraph,
    .App .aboutUs .ourStory .aboutPara .heading {
        text-align: center;
        margin: 0 auto;
    }

    .productMain {
        margin-bottom: 0;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .App main .insurance .switchDiv .mainBodyInner .wrapper .appointmentButton {
        justify-content: center;
    }

    .radioButton {
        margin-bottom: 0 !important;
    }

    .App main .insurance .switchDiv .mainBodyInner .rowButton {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .App main .homePage .homePageInner .serviceContainer .activeHeading {
        top: -70px;
    }

    .App main .homePage .homePageInner .aboutPara * {
        text-align: center;
        justify-content: center;
        // margin-left: auto;
        // margin-right: auto;
    }

    .App main .homePage .homePageInner .aboutPara .aboutButton a {
        margin: 0 auto;
    }

    .contactImgClass {
        display: none;
    }
    .App {
        main {
            .bookLab {
                .switchDiv {
                    .mainBody {
                        margin-bottom: 20px;
                        .mainBodyInner .wrapper .radioButton #selectLocation {
                            width: 80%;
                        }
                        .mainBodyInner .wrapper .radioButton {
                            margin-bottom: 0;
                        }
                        .mainBodyInner .wrapper .LabCarousel .LabCarouselInner {
                            margin-bottom: 30px;
                        }
                        .pagging .wrapper .buttons .buttonRowDiv {
                            gap: 0px;
                            column-gap: 10px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }

    #myDialog {
        .authFormMain {
            margin: 20px 10px !important;
        }
        .googleButton {
            width: 100%;
        }
        .authFieldsInner {
            flex-direction: column;
        }
        .linkedInButton {
            width: 100%;
        }
        .mainForm .allForms {
            width: 80%;
        }

        .firstRowRadio {
            flex-wrap: wrap;
        }
        .dialogInner h1 {
            font-size: 30px;
        }
    }
    .profileWrapper {
        .body {
            margin-left: 10px;
            margin-right: 10px;
            .card {
                &::after {
                    left: 0 !important;
                }
            }
        }
    }
    .App .login {
        padding: 15px;
    }

    main {
        .loginInputFields2 {
            width: 80%;
            flex-direction: column;
            input {
                width: 100% !important;
            }
        }
        .homePage {
            .homePageInner {
                .banner {
                    .bannerInner {
                        .bannerText {
                            padding: 30px 0 0 0 !important;

                            .bannerInfo {
                                .doctorImage {
                                    img {
                                        width: 280px !important;
                                        height: 280px !important;
                                    }
                                }

                                .bannerPara {
                                    .Primary {
                                        font-size: 35px !important;
                                    }

                                    .Health {
                                        font-size: 40px !important;
                                    }

                                    .Service {
                                        font-size: 30px !important;
                                    }

                                    .Home {
                                        font-size: 30px !important;
                                    }

                                    .bookButtonOuter {
                                        display: flex;
                                        justify-content: center;

                                        .bookButton {
                                        }

                                        margin-bottom: 30px;
                                    }
                                }
                            }
                        }
                    }
                }

                .serviceContainer {
                    .servicesmainHeading {
                        // left: 20% !important;
                        font-size: 30px !important;
                        text-align: center;
                    }
                }

                .servicesMain {
                    .cardsCenterMob {
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        width: 70%;

                        .card {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }

        .bookDoctor {
            .bookDoctorBanner {
                .banner {
                    .bannerInner {
                        .bannerText {
                            padding: 70px 0 0 0;

                            .bannerInfo {
                                p {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }

            .switchDiv {
                .mainBody {
                    .mainBodyInner {
                        .wrapper {
                            .selectDateTime {
                                .react-datepicker {
                                    width: 70% !important;

                                    .react-datepicker__month-container {
                                        .react-datepicker__header {
                                            .react-datepicker__day-names {
                                                .react-datepicker__day-name {
                                                    width: 1.5rem !important;
                                                    font-size: 15px !important;
                                                }
                                            }
                                        }

                                        .react-datepicker__month {
                                            .react-datepicker__week {
                                                .react-datepicker__day {
                                                    font-size: 15px !important;
                                                    width: 1.5rem !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bookLab, .bookDoctor {
            .bookDoctorBanner {
                .banner {
                    .bannerInner {
                        .bannerText {
                            padding: 70px 0 0 0;

                            .bannerInfo {
                                p {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
            .switchDiv .mainBody .mainBodyInner .wrapper .selectDateTimePicker {
                .TimePickerDiv .TimePickerDivInner {
                    max-width: 295px;
                }
                .react-datepicker .react-datepicker__month-container {
                    .react-datepicker__month .react-datepicker__week {
                        height: 35px;
                        .react-datepicker__day {
                            font-size: 16px;
                            width: 35px;
                        }
                    }
                    .react-datepicker__header
                        .react-datepicker__day-names
                        .react-datepicker__day-name {
                        width: 35px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }

        .insurance {
            .insuranceBanner {
                .banner {
                    .bannerInner {
                        .bannerText {
                            padding: 70px 0 0 0;

                            .bannerInfo {
                                p {
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .loginForm {
            .loginOther > div {
                width: 100% !important;
            }
            .loginOther {
                flex-direction: column;
                justify-content: center !important;

                button {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .App .footer2 .footer2Main {
        font-size: 8px;
    }
}
